* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style: none;
}
a:any-link {
    text-decoration: none;
    color: #353535;
}
button, input {
    font: inherit;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    color: #353535;
    background-color: #ececec;
}

.wrapper {
    height: 100%;
    display: grid;
    grid-template: 1fr minmax(100px, auto) / 1fr;
}
.header {
    position: fixed;
    z-index: 5;
    width: 100%;
    display: grid;
    grid-template: 1fr / minmax(100px, auto) 1fr 1fr;
    justify-content: start;
    align-content: center;
    gap: 15px;
    padding: 10px 100px;
    background-color: #ececec;
}
.header__logo {
    display: grid;
    align-content: center;
    font-size: 2.5rem;
    letter-spacing: 2px;
    color: #353535;
    text-transform: uppercase;
    /* text-shadow: -2px -2px 2px #f65032, 2px 2px 2px #30aaf0; */
}
.header__contacts {
    display: grid;
    grid-template: 1fr / repeat(2, max-content);
    grid-auto-columns: max-content;
    justify-content: end;
    gap: 20px;
}
.header__item {
    align-self: center;
    font-size: 20px;
    text-transform: uppercase;
}
.content {
    display: grid;
    grid-template: minmax(900px, auto) min-content 1fr / 1fr;
    padding: 0 100px;
    scroll-snap-type: y mandatory;
    gap: 10px;
}
.slider {
    display: grid;
    grid-template: 1fr / repeat(2, 1fr);
}
.slider__text {
    display: grid;
    justify-content: center;
    align-content: center;
    font-size: 3rem;
    text-align: center;
}
.slider__image {
    display: grid;
}
.slider__image object {
    justify-self: center;
    align-self: center;
    width: 75%;
    height: 75%;
}
.social-links {
    word-spacing: 25px;
}
.about {
    display: grid;
    padding: 5%;
}
.about__item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: -4% 0;
}
.about__image {
    display: grid;
}
.about__image object {
    justify-self: center;
    align-self: center;
    width: 90%;
    height: 90%;
}
.about__text {
    align-self: center;
    font-size: 1.5rem;
}
.about__list {
    align-self: center;
    font-size: 1.5rem;
}
.projects {
    display: grid;
    grid-template-rows: min-content 1fr;
    gap: 10px;
}
.projects__header {
    font-size: 2rem;
}
.project__card {
    display: grid;
    grid-template-rows: min-content 1fr;
    gap: 10px;
}
.project__title {
    font-size: 2rem;
    background-color: #353535;
    color: #ececec;
    padding: 10px;
    border-radius: 5px;
}
.project__content {
    display: grid;
    grid-template: 2fr 1fr / 3fr 4fr;
    gap: 10px;
}
.curator__card {
    display: grid;
    grid-template: repeat(2, 1fr) / 1fr 3fr;
}
.curator__photo {
    grid-row: span 2;
    width: 100px;
    height: 100px;
    background-color: #353535;
    border-radius: 50%;
    justify-self: center;
}
.curator__name {
    font-size: 1.5rem;
}
.project__preview {
    grid-row: span 2;
}
.project__preview img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}
.project__description {
    padding: 20px;
    border: 1px dashed #353535;
    border-radius: 15px;
}
.gallery {
    display: grid;
    grid-template: min-content 1fr / 1fr;
    scroll-snap-align: start;
}
.gallery__content {
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    gap: 25px;
    padding: 50px;
    background-color: #353535;
    border-radius: 5px;
}
.gallery__header {
    font-size: 2rem;
}
.gallery__item {
    position: relative;
    padding: 0 0 85% 0;
    cursor: pointer;
}
.gallery__item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 0 0 10px #181818;
}
.gallery__item_big {
    grid-column: span 2;
    grid-row: span 2;
}
.navbar {
    display: grid;
    grid-template-rows: 1fr;
}
.navbar__list {
    display: grid;
    grid-template: 1fr / repeat(3, max-content);
    grid-auto-columns: max-content;
    gap: 20px;
}
.navbar__item {
    align-self: center;
    font-size: 1.5rem;
    text-transform: uppercase;
}
.link {
    cursor: pointer;
}
.link:hover {
    text-decoration: underline;
}
.footer {
    display: grid;
    grid-template: 1fr / repeat(2, 1fr);
    background-color: #353535;
    color: #ececec;
    box-shadow: 0px -3px 10px #353535;
    margin: 15px 0 0 0;
}
.footer__list {
    display: grid;
    grid-template: repeat(2, max-content) / 1fr;
    grid-auto-rows: max-content;
    padding: 20px 0;
    gap: 10px;
    align-content: center;
}
.footer__item {
    justify-self: center;
    align-self: center;
    font-size: 1.5rem;
    text-align: center;
}
.join-float {
    position: sticky;
    display: grid;
    justify-content: end;
    bottom: 20px;
}
.join-float__button {
    color: antiquewhite;
    background: linear-gradient(120deg, #028bda, #00a2ff);
    border: none;
    border-radius: 15px;
    box-shadow: 1px 1px 4px #181818;
    padding: 10px;
    transform: translateX(50px);
}

.header-shadow {
    box-shadow: 0 1px 10px #353535;
}

@keyframes move-up {
    100% {
        transform: translateY(-100px);
    }
}
.move-up {
    animation: move-up 1s ease-in forwards;
}
@keyframes move-down {
    0% {
        transform: translateY(-100px);
    }
    100% {
        transform: translateY(0);
    }
}
.move-down {
    animation: move-down .5s ease-in forwards;
}

@keyframes fade-in {
    100% {
        opacity: 0;
    }
}
.fade-in {
    animation: fade-in 1s ease-in;
}
@keyframes fade-out {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}
.fade-out {
    animation: fade-out 1s ease-in;
}

/* .typewriter {
    overflow: hidden;
    border-right: .25rem solid #353535;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation:
        typing 3.5s steps(40, end),
        blink-caret .75s step-end infinite;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: #353535; }
} */

@keyframes strike-under {
    0% {
        width : 0;
    }
    100% {
        width: 40%;
    }
}
.strike-under {
    position: relative;
}
.strike-under::after {
    content: ' ';
    position: absolute;
    top: 90%;
    left: 58%;
    width: 40%;
    height: 4px;
    background: linear-gradient(45deg, #fdca53, #fb419e);
    border-radius: 2px;
    animation: strike-under 2s ease-in-out;
}
@keyframes strike-over {
    0% {
        width : 0;
    }
    100% {
        width: 50%;
    }
}
.strike-over {
    position: relative;
}
.strike-over::before {
    content: ' ';
    position: absolute;
    top: 10%;
    left: 0;
    width: 50%;
    height: 4px;
    background: linear-gradient(45deg, #74efff, #2967db);
    border-radius: 2px;
    animation: strike-over 2s ease-in-out;
}
