* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style: none;
}
a:any-link {
    text-decoration: none;
    color: #353535;
}
button, input {
    font: inherit;
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Lato-Regular';
    src: url('fonts/Lato-Regular.ttf');
}
@font-face {
    font-family: 'Lato-Bold';
    src: url('fonts/Lato-Bold.ttf');
}

body {
    font-family: 'Lato-Regular';
    font-weight: bold;
    color: #353535;
    background-color: #ececec;
}

.wrapper {
    height: 100%;
    display: grid;
    grid-template: 1fr minmax(200px, auto) / 1fr;
}

.header {
    position: fixed;
    z-index: 5;
    width: 100%;
    display: grid;
    grid-template: 1fr / minmax(100px, auto) 1fr;
    justify-content: start;
    align-content: end;
    gap: 15px;
    padding: 10px 10%;
    background: none;
}
.header__logo {
    display: grid;
    align-content: center;
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: 2px;
    color: #353535;
    text-transform: uppercase;
}
.navbar {
    display: grid;
    justify-content: center;
    align-content: center;
}
.navbar__list {
    display: grid;
    grid-template: 1fr / repeat(4, max-content);
    gap: 50px;
}
.navbar__item {
    font-size: 1.2rem;
    text-transform: uppercase;
}
.link {
    cursor: pointer;
}
.link:hover {
    text-decoration: underline;
}
.content {
    display: grid;
    grid-template: minmax(900px, auto) min-content 1fr / 1fr;
    /* padding: 0 10%; */
    scroll-snap-type: y mandatory;
    gap: 10px;
}
.slider {
    display: grid;
    grid-template: 1fr / 2fr 3fr;
    padding: 0 10%;
}
.slider__card {
    display: grid;
    justify-content: center;
    align-content: center;
    gap: 30px;
}
.slider__text {
    font-size: 3.5rem;
    line-height: 3.8rem;
    letter-spacing: .3rem;
    text-transform: uppercase;
    font-weight: 900;
    white-space: pre;
}
.slider__join {
    width: min-content;
    text-transform: uppercase;
    padding: 10px;
    border: none;
    background: linear-gradient(10deg, #028bda, #88d3ff);
    border-radius: 30px;
    color: #ececec;
    font-weight: 500;
}
.slider__image {
    display: grid;
}
.slider__image object {
    justify-self: center;
    align-self: center;
    width: 100%;
    height: 100%;
}
.social-links {
    display: grid;
    grid-template: 1fr / repeat(3, minmax(100px, auto));
    justify-content: start;
    padding: 0 5%;
}
.social-links a:hover {
    font-weight: bold;
}
.about {
    display: grid;
    padding: 5%;
}
.about__item {
    display: grid;
    grid-template-columns: 3fr 2fr;
    margin: -4% 0;
}
.about__item_reversed {
    grid-template-columns: 2fr 3fr;
}
.about__item_reversed>.about__image {
    order: 2;
}
.about__item_reversed>.about__text {
    order: 1;
}
.about__item_reversed>.about__list {
    order: 1;
}
.about__image {
    position: relative;
    display: grid;
}
/* .about__image object {
    justify-self: center;
    align-self: center;
    width: 95%;
    height: 95%;
} */
.about__image-text {
    position: absolute;
    top: 40%;
    left: 30%;
    color: #ececec;
    font-family: 'Lato-Bold';
    font-size: 4rem;
    text-transform: uppercase;
}
.about__text {
    align-self: center;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: normal;
    padding: 0 0 0 10px;
}
.about__list {
    align-self: center;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: normal;
    list-style: disc;
}
.projects {
    position: relative;
    display: grid;
    height: 900px;
    gap: 10px;
}
.projects__header {
    position: absolute;
    top: 10px;
    left: 50px;
    font-family: 'Lato-Bold';
    font-size: 2rem;
    text-transform: uppercase;
    color: #ececec;
}
.project__card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    background: linear-gradient(45deg, #58D3E8, #3053F6 );
    /* margin: 0 -12.5%; */
}
.project__content {
    justify-self: center;
    display: grid;
    width: 90%;
    padding: 10%;
}
.project__title {
    align-self: center;
    font-size: 2rem;
    color: #ececec;
    padding: 20px;
    border-radius: 5px;
}
.project__description {
    padding: 20px;
    color: #ececec;
    font-weight: normal;
    font-size: 1.5rem;
}
.curator__card {
    display: grid;
    grid-template: repeat(2, 1fr) / 1fr 3fr;
}
.curator__photo {
    grid-row: span 2;
    width: 100px;
    height: 100px;
    background-color: #353535;
    border-radius: 50%;
    justify-self: center;
}
.curator__name {
    font-size: 1.5rem;
}
.project__preview {
    position: relative;
}
.project__preview img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.projects__pages {
    position: absolute;
    left: 47%;
    bottom: 3%;
    display: flex;
    gap: 10px;
    justify-content: center;
}
.projects__page {
    width: 10px;
    height: 10px;
    background-color: rgba(200, 200, 200, 0.5);
    border-radius: 50%;
}
.projects__page.active {
    background-color: #ececec;
    border: 1px solid #ececec;
}
.gallery {
    display: grid;
    scroll-snap-align: start;
}
.gallery__content {
    display: grid;
    grid-template: min-content / repeat(4, minmax(250px, auto));
    gap: 25px;
    padding: 50px;
}
.gallery__header {
    font-family: 'Lato-Bold';
    font-size: 2rem;
    text-transform: uppercase;
}
.gallery__item {
    position: relative;
    padding: 0 0 85% 0;
}
.gallery__item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gallery__overlay {
    position: absolute;
    display: grid;
    width: 100%;
    height: 100%;
    background-color: #2365D0;
    color: #ececec;
    opacity: 0;
    justify-content: center;
    align-content: center;
    transition: .5s ease;
}
.gallery__overlay:hover {
    opacity: 0.8;
}
.footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #353535;
    color: #ececec;
    box-shadow: 0px -3px 10px #353535;
    margin: 15px 0 0 0;
    padding: 20px 30px;
}
.footer__right {
    display: grid;
}
.footer__list {
    display: grid;
    grid-template: repeat(2, max-content) 1fr / 1fr;
    padding: 20px 50px;
    font-weight: 500;
}
.footer__socials {
    justify-self: end;
    align-self: center;
    width: 40%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 50px;    
}
.footer__social {
    justify-self: center;
    align-self: center;
    width: 60px;
    height: 60px;
    display: grid;
    border: 2px solid #ececec;
    border-radius: 50%;
}
.footer__social a {
    color: #ececec;
}
.footer__social img {
    justify-self: center;
    align-self: center;
    width: 60%;
    height: 60%;
}
.join-float {
    position: sticky;
    display: flex;
    justify-self: flex-end;
    bottom: 20px;
}
.join-float__button {
    color: antiquewhite;
    background: linear-gradient(120deg, #028bda, #00a2ff);
    border: none;
    border-radius: 15px;
    box-shadow: 1px 1px 4px #181818;
    padding: 10px;
    transform: translateX(50px);
    cursor: pointer;
}
.join-float__button:hover {
    background: linear-gradient(120deg, #0076bb, #0090e4);
}
.join-float__button:active {
    background: linear-gradient(120deg, #0098f0, #19abff);
}

.header-shadow {
    box-shadow: 0 1px 10px #353535;
    background: #ececec;
}

@keyframes move-up {
    100% {
        transform: translateY(-200px);
        background: none;
    }
}
.move-up {
    animation: move-up 1s ease-in forwards;
}
@keyframes move-down {
    0% {
        transform: translateY(-200px);
    }
    100% {
        transform: translateY(0);
    }
}
.move-down {
    animation: move-down .5s ease-in forwards;
}

@keyframes fade-in {
    100% {
        opacity: 0;
    }
}
.fade-in {
    animation: fade-in 1s ease-in;
}
@keyframes fade-out {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}
.fade-out {
    animation: fade-out 1s ease-in;
}

@keyframes strike-under {
    0% {
        width : 0;
    }
    100% {
        width: 40%;
    }
}
.strike-under {
    position: relative;
}
.strike-under::after {
    content: ' ';
    position: absolute;
    top: 90%;
    left: 58%;
    width: 40%;
    height: 4px;
    background: linear-gradient(45deg, #fdca53, #fb419e);
    border-radius: 2px;
    animation: strike-under 2s ease-in-out;
}
@keyframes strike-over {
    0% {
        width : 0;
    }
    100% {
        width: 50%;
    }
}
.strike-over {
    position: relative;
}
.strike-over::before {
    content: ' ';
    position: absolute;
    top: 5%;
    left: 0;
    width: 50%;
    height: 4px;
    background: linear-gradient(45deg, #74efff, #2967db);
    border-radius: 2px;
    animation: strike-over 2s ease-in-out;
}
.gallery-strike-under {
    position: relative;
}
.gallery-strike-under::before {
    content: ' ';
    position: absolute;
    top: 6vh;
    left: 0;
    width: 80%;
    height: 6px;
    background: linear-gradient(45deg, #fdca53, #fb419e);
    border-radius: 2px;
}
